body {
    background-color: yellow; 
    color: lime; 
    font-family: "Comic Sans MS"; 
    font-size: 25px; 
}

h1 {
    background-color: red;
    color: blue;
    text-align: right; 
    text-decoration: underline overline;
}

h2 {
    background-color: fuchsia; 
    color: green;
    border: 20px solid orange; 
}

p {
    background-color: black;
    color: navy;
    border: 5px dotted white;
    padding: 0px;
    margin: 50px; 
}

ul, ol {
    background-color: aqua; 
    color: maroon; 
    font-size: 40px; 
}

li {
    border: 2px solid pink;
}

table {
    background-color: gray;
    color: yellow;
    border: 15px double red; 
    width: 100%;
}

th, td {
    border: 5px solid blue;
    padding: 1px;
}

.ugly-box {
    background-color: purple;
    color: black; 
    border: 30px solid green; 
    padding: 2px; 
    margin: 100px; 
}

em {
    background-color: brown;
    color: white;
    font-size: 10px;
}
